* {
    box-sizing: border-box;
}

html,
body {
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../img/bg-map.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    max-width: 1536px;
    padding: 50px 30px;
}

.container-drag {
    border: 1px solid #fff;
    display: flex;
    height: 70px;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 700px;
    width: 100%;
}
.container-drop {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.item-drop {
    border: 1px solid #fff;
    min-height: 200px;
    width: 100%;
}

.img {
    display: block;
    height: auto;
    max-height: 200px;
    width: 100%;
}

.text {
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
}

.modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 50%;
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
    visibility: hidden;
    width: 100%;
}

.modal.open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
}

.modal__title {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px;
}

.modal__btn-close {
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
}
