* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    background: url('../img/ny.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

.main {
    display: flex;
    margin: 0 auto;
    max-width: 1536px;
}

@media screen and (min-width: 768px) {
    .main { 
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.container {
    align-items: baseline;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .container { 
        flex-direction: row;
    }
}

.item {
    padding: 40px;
    flex-grow: 1;
    flex-basis: min-content;
}

.text {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.figure {
    height: auto;
    width: 100%;
    margin: 0 auto 20px;
    max-width: 300px;
}

.img {
    display: block;
    height: 100%;
    width: 100%;
}

.btn {
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    border: 0;
    color: #000;
    display: inline-flex;
    height: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
    text-decoration: none;
    width: 140px;
    font-size: 20px;
}
